body {
    font-family: 'Playfair Display', sans-serif;
    margin: 0;
    color: #222;
}

* {
    box-sizing: border-box;
}

.container-principal {
    width: 1112px;
    margin: 0 auto;
}

.header {
    background-color: #000;
    padding: 15px 0;
}

.header__contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 120px;
    height: auto;
    border-radius: 5px;
}

.header__menu a {
    padding: 0 20px;
    color: #ad984b;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.header__items:hover {
    color: #fff;
}

main {
    background-color: #000;
}

.hero__inicio-contenedor {
    position: relative;
    z-index: 1;
    background: url(../assets/diseño3.png) no-repeat fixed center center/cover;
}

.hero__inicio-contenedor::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.94;
    z-index: -1;
    background: linear-gradient(-47deg, #4d4a21 10%, #352414 100%);
}

.hero__inicio {
    padding: 90px 0px 65px;
}

.hero__inicio-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__inicio-titulo {
    color: #fff;
    font-size: 4.375rem;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
}

.hero__titulo2 {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
    
}

.hero__inicio-parrafo {
    margin: 60px 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.btn-hero {
    color: #fff;
    border: 2px solid #36281c;
    border-radius: 30px;
    padding: 18px 30px;
    font-size: 16px;
    margin-top: 24px;
    letter-spacing: 1px;
    cursor: pointer;
    background: none;
    font-weight: 600;
}

.btn-hero:hover {
    background-image: linear-gradient(-47deg, #0f0f0d 0%, #1a1512 100%);
    color: #ad984b;
}

.hero__videos {
    color: #fff;
}

.hero__videoMarca-container {
    display: flex;
    align-items: center;
}

.hero__videoMarca {
    width: 560px;
    height: 315px;
    padding: 0 15px;
}

.hero__videoMarca, .hero__parrafos {
    width: 50%;
}

.hero__parrafos {
    padding: 0 40px;
    margin: 0;
}

.hero__parrafo {
    margin-left: 16px;
    padding: 8px 0;
}

.hero__videoMarcaYt {
    display: flex;
    align-items: center;
    text-align: center;
}

.hero__videoMarcaYt-parrafo {
    margin: 0 16px 0 0;
    padding: 0px 40px 0 0;
}

.videoYt {
    padding: 0 15px;
}

.hero__videoMarcaYt-parrafo, .videoYt {
    width: 50%;
}

.hero__galeria {
    padding: 0 0 100px 0;
    display: flex;
    justify-content: center;
}

.hero__imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.hero__fullImg{
    padding: 15px;
    /* max-width: 50%; */
}

.hero__img-container {
    text-align: center;
    padding: 16px 31px;
    background-color: rgb(176, 158, 128);
    border-radius: 10px;
    
}

.hero__img {
    width: 100%;
    
}

.hero__galeria-parrafo {
    color: rgb(231, 231, 231);
    width: 210px;
    margin: 20px;
}

footer {
    background-color: rgb(176, 158, 128);
}

.footer__cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__icon {
    margin: 0 15px;
    width: 40px;
    height: auto;
}

.footer__links {
    margin: 0 100px;
}

.footer__links a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.footer__items:hover {
    color: #fff;
}

.footer__items {
    padding: 0 20px;
}

.footer__logo {
    width: 150px;
    height: auto;
    margin: 0 0 0 50px;
}

.linea {
    content: "";
    width: 68.75rem;
    height: 2px;
    background-color: #3f3636;
    margin: 100px 0 0;
}

.seccion__padding {
    padding: 6.25rem 0rem;
}

.text__aling {
    width: 46.875rem;
    text-align: center;
}

ul li {
    list-style: none;
}

/* Seccion compra */

.seccion__compra {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buscador-text {
    width: 100%;
    height: 45px;
    border-radius: 0px;
    color: #999999;
    font-size: 14px;
    letter-spacing: 0.01em;
    padding-left: 10px;
    background: white;
    border: black;
    outline: none;
}

.buscador-btn {
    position: absolute;
    color: transparent;
    background: url(../assets/lupa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
    border-radius: 0px;
    width: 45px;
    height: 45px;
    outline: none;
}

.bg-compra {
    background-color: rgb(176, 158, 128);
    padding: 100px 0 0 0;
}

.hero__compra {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}


.compra__precio {
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}

.hero__img-compra {
    background-color: #fff;
    box-shadow: 0 8px 10px rgb(0 0 0 / 12%);
}

.hero__img-compra a {
    text-decoration: none;
    color: #000;
}

.precio__text:hover {
    color: #ad984b;
}

/* Seccion contacto */

.datos {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
}

.datos__titulo {
    font-family: 'Playfair Display';
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.datos__contenedor {
    display: flex;
    padding: 15px 0;
}

.datos__form {
    font-size: 14px;
    padding: 15px;
    border: none;
    border-radius: 0;
    box-shadow: 0 5px 10px rgb(0 0 0 / 12%);
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    width: 400px;
}

.datos__botones {
    display: flex;
    justify-content: center;
}

.datos-btn {
    margin: 15px;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border: 2px solid rgb(176, 158, 128);
    background: none;
    cursor: pointer;
}

.datos-btn:hover {
    background-color: rgb(176, 158, 128);
}

.form {
    background-color: #000;
    color: #fff;
}

/* Seccion acerca de */

.hero__texto-aboutUs {
    margin: 30px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.hero__aboutUs-titulo2 {
    margin: 60px;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.3;
}

/* Seccion ayuda */

.seccion-ayuda {
    width: 300px;
}

.hero__ayuda a {
    padding: 0 20px;
    color: #fff !important;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.hero__ayuda-text:hover {
    color: #ad984b;
}

.hero__ayuda-text {
    padding: 20px 0;
}

/* Animaciones */

.header__logo {
	-webkit-animation: scale-up-center 3.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate-reverse both;
	        animation: scale-up-center 3.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate-reverse both;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
.hero__img-compra:hover {
	-webkit-animation: kenburns-top 1s ease-out both;
	        animation: kenburns-top 1s ease-out both;
}

@-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1) translateY(-15px);
              transform: scale(1) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1) translateY(-15px);
              transform: scale(1) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }

/* Seccion estilos Bootstrap */

.btnBs {
    padding: 18px 30px !important;
}

.btnBs-colors {
    color: rgb(176, 158, 128) !important;
    border-color: rgb(176, 158, 128) !important;
    margin: auto !important;
}

.btnBs-colors:hover {
    color: #fff !important;
    background-color: rgb(176, 158, 128) !important;
    border-color: rgb(176, 158, 128) !important;
}

.btnBs-border {
    border-color: rgb(176, 158, 128) !important;
    box-shadow: 0 0 0 0.25rem rgb(176 158 128 / 25%) !important;
}

.btnBs-margin {
    width: 50%;
    margin: 0 auto;
}

.navBs-center {
    width: auto !important;
}

.carouselBs {
    text-align: center;
    padding: 30px 31px;
    background-color: rgb(176, 158, 128);
    border-radius: 10px;
    margin: 50px;
}

.carouselBs__img{
    width: 350px;
    height: 430px;
    margin: 0 auto;
}

.carouselBs__parrafo {
    color: rgb(231, 231, 231);
    width: 230px;
    margin: 20px auto;
    font-size: 18px;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    .container-principal {
        width: auto;
        height: auto;
    }
    
    .hero__imagenes {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
    }

    .hero__fullImg{
        padding: 15px 6px;
        max-width: 100%;
    }
    .hero__galeria-parrafo {
        width: auto;
        margin: 0;
    }
}

@media screen and (max-width: 992px) {
    .footer__links {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .d-flex {
        margin: 20px;
        flex-direction: column;
    }
    .marginR-0 {
        margin: 0 auto !important;
    }
    .navbar-flex {
        flex-direction: column !important;
    }
    .container-principal {
        width: auto;
        height: auto;
    }
    .hero__imagenes {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
    }
    .hero__fullImg {
        padding: 25px 0px;
    }
    .footer__redes {
        display: flex;
    }
    .footer__links {
        margin: 0;
    }
    .footer__items {
        padding: 10px 20px;
        display: flex;
    }
    .btnBs-colors {
        margin: 10px !important;
    }
}

@media screen and (max-width: 600px) {
    .header__contenedor {
        flex-direction: column;
    }
    .hero__fullImg {
        max-width: 100%;
    }
    .footer__cont {
        flex-direction: column-reverse;
    }
    .footer__links {
        margin: 15px 0 30px 0;
    }
    .footer__items {
        padding: 12px;
    }
    .footer__logo {
        margin: 0 0 15px 0;
    }
    .carouselBs__img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
}

@media screen and (max-width: 375px) {
    .header__menu a {
        padding: 0 12px;
    }
    .hero__videoMarca-container {
        flex-direction: column; 
    }
    .hero__videoMarca, .hero__parrafos {
        width: 80%;
    }
    .hero__parrafos {
        padding: 0;
        margin: 0;
    }
    .hero__videoMarcaYt {
        flex-direction: column-reverse;
    }
    .hero__videoMarcaYt-parrafo, .videoYt {
        width: 80%;
    }
    .hero__videoMarcaYt-parrafo {
        margin: 0;
        padding: 0;
    }
    .hero__img, .carouselBs__img {
        width: 100%;
        height: auto;
    }
    .carouselBs__parrafo {
        width: auto;
    }
}
