@import "./variables";
@import "./mixins";

body {

    .btnBs {
        padding: 18px 30px ;
        text-align: center;
    }
    
    .btnBs-colors {
        color: $colorBlack;
        border-color: $colorBlack;
        margin: auto ;
    }
    
    .btnBs-colors:hover {
        color: $colorBg ;
        background-color: $colorBlack;
        border-color: $colorBlack;
    }
    
    .btnBs-border {
        border-color: rgb(176, 158, 128) ;
        box-shadow: 0 0 0 0.25rem rgba(176, 158, 128, 0.25) ;
    }
    
    .btnBs-margin {
        width: 35%;
        margin: 0 auto;
    }
}