@import "./mixins";
@import "./variables";
@import "./BS-styles";

body {

    .bg-compra {
        background-color: $colorBg;
        padding: 100px 0 0 0;
        
        .hero__galeria {
            padding: 0 0 100px 0;
            @include flex(flex, center, null, null);
            
            .hero__compra {
                @include flex(flex, space-around, null, null);
                padding: 30px;
    
                .hero__fullImg {
                    padding: 15px 6px;
                    max-width: 100%;
                    
                    .hero__img {
    
                        &-compra {
                            background-color: $colorWhite;
                            box-shadow: 0 8px 10px rgba(0, 0, 0, 0.12);
                            margin: 25px 0 0 0;
    
                            & a {
                                text-decoration: none;
                                color: $colorBlack;
                            }
    
                            .precio__text {
    
                                &:hover {
                                    color: $colorBg2;
                                }
                                .compra__parrafo {
                                    text-align: center;
                                    margin: 0;
                                    padding-top: 1rem;
                                }
                                .compra__precio {
                                    @include text(20px, 600, 2px, null, center);
                                    @include box-size(20px, 0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .row {
        --bs-gutter-x: 0 !important;
    }
    
}








