@import "./variables";
@import "./mixins";

.header {
        .header__logo {
            @include sizes(120px, auto);
            border-radius: 5px;
        }
        .header__menu {

            & a {
                padding: 0 20px;
                color: $colorBg;
                text-decoration: none;
                @include text(18px, 600, null, null, null);
            }
            .header__items:hover {
                color: $colorWhite;
            }
        }
}

.form {
    background-color: $colorBlack;
    color: $colorWhite;

    .datos {
        @include flex(flex, null, center, column);
        border: none;

        &__titulo {
            font-family: 'Playfair Display';
            @include text (30px, 700, null, null, center)
        }

        &__contenedor {
            @include flex(flex, center, null, null);
            padding: 15px 0;

            .datos__form {
                @include text(14px, 400, null, 1.5, null);
                padding: 15px;
                border: none;
                border-radius: 0;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
                color: $colorGray;
                width: 400px;
            }
        }
    }

    .datos__botones {
        @include flex(flex, center, null, null);

        .datos-btn {
            @include text(16px, 700, null, null, null);
            margin: 15px;
            @include sizes(150px, 50px);
            border-radius: 8px;
            color: $colorWhite;
            border: 2px solid rgb(176, 158, 128);
            background: none;
            cursor: pointer;

            &:hover {
                background-color: rgb(176, 158, 128);
            }
        }
    }
}

.navbar {
    justify-content: space-around !important;
}
.navbar-toggler {
    border-color: $colorBg !important;
    color: $colorBg !important;
}