@import "./mediaQueries";
@import "./variables";

footer {
    background-color: $colorBg;

    .footer__cont {
        display: map-get($estilos, display);
        align-items: map-get($estilos, align-items);
        justify-content: map-get($estilos, justify-content);

        .footer__icon {
            margin: 0 15px;
            @include sizes(40px, auto);
        }

        .footer__links {
            margin: 0 100px;

            & a {
                text-decoration: map-get($estilos, text-decoration);
                color: $colorBlack;
                font-size: 18px;
                font-weight: map-get($font-weights, medium);
            }

            .footer__items {
                padding: 0 20px;

                &:hover {
                    color: $colorWhite;
                }
            }
        }
    }
}