@import "./variables";
@import "./animaciones";
@import "./mixins";

.header {
    background-color: $colorBlack;
    padding: 15px 0;
    
    &__contenedor {
        @include flex(flex, space-between, center, null);
        
        .header__logo {
            @include sizes(120px, auto);
            border-radius: 5px;
        }
        
        .header__menu {

            & a {
                padding: 0 20px;
                color: $colorBg;
                text-decoration: none;
                @include text(18px, 600, null, null, null);
            }
            .header__items:hover {
                color: $colorWhite;
            }
        }
    }
}
