@import "./variables";
@import "./mixins";

main {
    background-color: $colorBlack;

        .hero__inicio-contenedor {
            position: relative;
            z-index: 1;
            background: url(../assets/diseño3.jpg) no-repeat fixed center center/cover;
            
            &::after {
                position: absolute;
                content: '';
                @include sizes(100%, 100%);
                top: 0;
                left: 0;
                opacity: 0.94;
                z-index: -1;
                background: linear-gradient(47deg, #534835 100%, $colorBg 10%);
            }
            .hero__inicio {
                padding: 90px 0px 65px;

                &-titulo {
                    color: $colorWhite;
                    @include text(4.375rem, 600, null, 1.3);
                    margin: 0;
                }
    
                &-titulo2 {
                    @extend .hero__inicio-titulo;
                    font-size: 35px;
                    
                    
                }
    
                &-text {
                    @include flex(flex, null, center, column);
    
                    .hero__inicio-parrafo {
                        margin: 60px 0;
                        color: $colorWhite;
                        @include text(20px, 700, null, null);
                    }
    
                    .btn-hero {
                        color: $colorWhite;
                        border: 2px solid #36281c;
                        border-radius: 30px;
                        @include box-size(18px 30px, 24px);
                        @include text(16px, 600, 1px, null);
                        cursor: pointer;
                        background: none;
    
                        &:hover {
                            background-image: linear-gradient(-47deg, #0f0f0d 0%, #1a1512 100%);
                            color: $colorBg;
                        }
                    }
                }
            }
        }
        .hero__videos {
            color: $colorWhite;
    
            .hero__videoMarca-container {
                display: flex;
                align-items: center;
                
                .hero__videoMarca {
                    @include sizes(50%, auto);
                    padding: 0 15px;
                }
    
                .hero__parrafos {
                    @include box-size(0 40px, 0);
                    
                    .hero__parrafo {
                        @include box-size(0 0 0 16px, 8px 0);
                    }
                }
            }
            
            .linea {
                content: "";
                @include sizes(68.75rem, 2px);
                background-color: #3f3636;
                margin: 100px 0 0;
            }
            
            .hero__videoMarcaYt {
                @extend .hero__videoMarca-container;
                text-align: center;
                
                .hero__videoMarcaYt-parrafo {
                    @include box-size(0 40px 0 0, 0 16px 0 0);
                    width: 50%;
                }
                
                .videoYt {
                    padding: 0 15px;
                    width: 50%;
                }
            }
        }

    .carousel-container{
        padding: 15px;
    
        .carouselBs {
            @include box-size(30px 31px, 50px);
            text-align: center;
            background-color: $colorBg;
            border-radius: 10px;
    
            &__img{
                @include sizes(350px, 430px);
                @include box-size(auto, 0 auto);
            }
    
            &__parrafo {
                color: $colorWhite;
                @include box-size(auto, 20px auto);
                @include sizes(230px, auto);
                font-size: 18px;
            }
        }
    }
}
