@import "./mixins";

@media screen and (max-width: 1200px) {
    .container-principal {
        @include sizes(auto, auto);
    }

    .hero__fullImg{
        padding: 15px 6px;
        max-width: 100%;
    }
    .hero__galeria-parrafo {
        width: auto;
        margin: 0;
    }
}

@media screen and (max-width: 992px) {
    body {

        footer {
                
            .footer__cont {
                justify-content: space-around;
    
                .footer__redes {
                    @include flex(flex, null, null, column);
    
                    .footer__icon {
                        margin: 5px;
                    }
                }
                .footer__links {
                    margin: 0;
                    
                    .footer__items {
                        padding: 10px 20px;
                        display: flex;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body {

        .d-flex {
            margin: 20px;
            flex-direction: column;
        }
        .marginR-0 {
            margin: 0 auto !important;
        }
        .navbar-flex {
            flex-direction: column !important;
        }
        .container-principal {
            @include sizes(auto, auto);
        }
        .hero__fullImg {
            padding: 25px 0px;
        }
        footer {
            
            .footer__cont {
                justify-content: space-around;

                .footer__redes {
                    @include flex(flex, null, null, column);

                    .footer__icon {
                        margin: 5px;
                    }
                }
                .footer__links {
                    margin: 0;
                    
                    .footer__items {
                        padding: 10px 20px;
                        display: flex;
                    }
                }
            }
        }
        .btnBs-colors {
            margin: 10px !important;
        }
    }
}

@media screen and (max-width: 600px) {
    body {

        .d-flex {
            width: 55% !important;
        }

        .header__contenedor {
            flex-direction: column;
            
                .header__menu a {
                    padding: 0 12px;
                }
        }
    
        // .hero__fullImg {
        //     max-width: 100%;
        // }
        main {
            .hero__videos {
                .hero__videoMarca-container {
                    flex-direction: column;
                    
                        .hero__videoMarca {
                            @include sizes(90% , auto );
                            @include box-size(auto, 15px);
                        }
                }
                
                .hero__videoMarcaYt {
                    flex-direction: column-reverse ;
                        
                        .hero__videoMarcaYt-parrafo {
                            @include box-size(0, 0 auto);
                            width: 70% ;
                        }
                            
                        .videoYt {
                            @include sizes(90% , null);
                            @include box-size(auto, 15px);
                        }
                }
            }
        }
        .carouselBs {
            margin: 0 !important;
    
            .carouselBs__img {
                width: 100% !important;
                height: auto !important;
            }
            .carouselBs__parrafo {
                width: auto !important;
            }
        }
    
        footer {
    
            .footer__cont {
                flex-direction: column-reverse;
                
                .footer__redes {
                    flex-direction: initial;
                }
                .footer__links {
                    margin: 15px 0 30px 0 !important;
                    
                    .footer__items {
                        padding: 12px;
                    }
                }
                .footer__logo {
                    margin: 0 0 15px 0;
                }
            }
        }
        .datos {
            .datos__contenedor {
                width: 85%;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    body {

        .d-flex {
            width: 75% !important;
        }

        .header__contenedor {
    
            .header__menu a {
                padding: 0 4px;
            }
        }
        
        main {
            .hero__videos {
    
                .hero__videoMarca-container {
                    flex-direction: column;
                    
                    .hero__videoMarca {
                        width: 80%;
                    }
                    .hero__parrafos {
                        @include box-size(0, 0);
                    }
                }
                .hero__videoMarcaYt {
                    flex-direction: column-reverse;
            
                    .hero__videoMarcaYt-parrafo {
                        width: 80%;
                        @include box-size(0, 0);
                    }
                    .videoYt {
                        width: 80%;
                    }
                }
            }
        }
        // .hero__videoMarca, .hero__parrafos {
        //     width: 80%;
        // }
        
        .hero__img, .carouselBs__img {
            @include sizes(100%, auto);
        }
        .carouselBs__parrafo {
            width: auto;
        }
        footer {
    
            .footer__cont {
                flex-direction: column-reverse;
    
                .footer__links {
                    margin: 15px 0 30px 0 !important;
                    
                    .footer__items {
                        padding: 12px;
                    }
                }
                .footer__logo {
                    margin: 0 0 15px 0;
                }
            }
        }
        .datos {
            .datos__contenedor {
                width: 90%;
            }
        }
    }
}