$colorWhite: #fff;
$colorBlack: #000;
$colorGray: #495057;
$colorBg: rgb(176, 158, 128);
$colorBg2: #ad984b;

$estilos: (
    display: flex,
    align-items: center,
    justify-content: space-between,
    text-decoration: none
);

$font-weights: (
    regular: 400, 
    medium: 600, 
    bold: 700
);